$color_1: var(--dark-color);
$color_2: var(--bg-color);
$color_3: #868a92;
$color_4: var(--orange-color);
$color_5: var(--pink-color);
$color_6: var(--green-color);
$color_7: var(--text-color);

.footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
  background: var(--tenbox-color);
  border-radius: 0rem;
  padding: 20px;
  clear: both;
  .footerBox {
    display: flex;
    flex-direction: column;
    p {
      font-size: 0.938rem;
      margin: 0.5rem 0 1rem;
    }
    .social {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      .bx {
        padding: 10px;
        background: var(--bg-color);
        color: $color_1;
        border-radius: 5rem;
        font-size: 20px;
        &:hover {
          background: var(--dark-color);
          color: $color_2;
          transition: 0.2s all linear;
        }
      }
    }
    h2 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    a {
      color: $color_3;
      margin-bottom: 1rem;
      text-decoration: none;
      &:hover {
        color: $color_4;
      }
    }
    form {
      border-bottom: 1px solid var(--text-color);
      padding: 10px;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      input {
        background: transparent;
        border: none;
        outline: none;
      }
      .bx {
        font-size: 20px;
        color: $color_5;
        cursor: pointer;
        &:hover{
        color: $color_6;
      }
    }
    }
  }
}
.copyright {
  text-align: center;
  padding: 20px;
}
.btn {
  padding: 0.6rem 1rem;
  background: rgba(255, 255, 255, 0.419);
  color: $color_7;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 00.5rem;
  max-width: 160px;
  border-radius: 0.1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  font-style: normal;
  .bx {
    padding: 3px;
    color: $color_7;
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
  }
  &:hover {
    .bx {
      color: $color_2;
    }
    background: rgba(225, 219, 225, 0.667);
    color: $color_2;
    transition: 0.3s ease;
  }
}
// .scroll-top {
//   position: fixed;
//   visibility: hidden;
//   opacity: 0;
//   right: 15px;
//   bottom: 15px;
//   z-index: 99999;
//   background: var(--color-primary);
//   width: 40px;
//   height: 40px;
//   border-radius: 4px;
//   transition: all 0.4s;
// }

// .scroll-top i {
//   font-size: 24px;
//   color: var(--color-secondary);
//   line-height: 0;
// }

// .scroll-top:hover {
//   background: #ffc732;
//   color: #fff;
// }

// .scroll-top.active {
//   visibility: visible;
//   opacity: 1;
// }
