.productDetail{
    margin: 6rem;
    .productInfo{
     
        img{
            display: block;
            margin: auto;
            border: 0.01rem solid rgba(0, 0, 0, 0.2);
            border-radius: 1%;
            text-align: center;
            object-fit: cover;
            width: 25rem;
            height: 25rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin-top: 0.5rem;
            font-size: 2rem;
            font-weight: 400;
            font-style: normal;
            text-align:center;
          }
    }
    
}