$color-1: white;
$color-2: #ffffff;
$color-3: #696763;
$color-4: #333;
$font-family-1: "Raleway", sans-serif;

.productSection {
  display: flex;
  margin: 4rem;
  margin-top: 5rem;
  line-height: 1.5;

  .categoryContainer {
    .brandContainer {
      border: 0.2px solid rgba(161, 160, 160, 0.368);
      border-radius: 4px;
      background: #ffff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      margin-bottom: 2rem;

      .brandList {
        height: 18rem;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        
      }
    }
  }

  .productContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .productCard {
      background: #fff;
      text-align: center;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
      position: relative;
      width: 14rem;
      height: 20rem;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.03);
      }

      img {
        object-fit: cover;
        width: 14rem;
        height: 14rem;
      }

      a,h2{
        width: 12rem;
        height: 2.5rem;
        text-decoration: none;
        font-weight: 400;
        margin-top: 0.5rem;
        font-size: 1rem;
        color: $color-4;
      }
    }
  }

  .pagination {
    width: 80%;
    float: left;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

    button {
      margin: 0 5px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      cursor: pointer;

      &.active {
        background-color: #ccc;
      }
    }
  }
}

h4 {
  padding-top: 10px;
  width: 100%;
  height: 60px;
  color: $color-4;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 auto 30px;
  text-align: center;
  position: relative;
}
