$color_1: var(--bg-color);
$color_2: var(--pink-color);
$color_3: #999999;
$color_4: var(--text-color);
$color_5: var(--dark-color);
$color_6: var(--dark-grey-color);
$color_7: var(--pink-font);

/* popUpText */
.imgContainer {
  display: flex;
  width: 100%;
  height: 400px;
  margin-bottom: 75px;
  .imgItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    .imgText {
      font-size: 1.8rem;
      color: $color_6;
    }
  }
}
.blogLeftColumn {
  max-width: 800px;
  margin-left: 120px;
  background: white;
  float: left;
  .blogCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    img {
      max-width: 300px;
      object-fit: cover;
      z-index: 1;
    }
    .content {
      margin: 0 25px;
      z-index: 1;
      h3 {
        margin: 10px 0px;
        font-size: 1.5rem;
      }
      p {
        margin: 10px 0px;
        font-size: 18px;
        text-align: left;
        font-weight: 300;
      }
    }
    .btnMore {
      height: 40px;
      width: 100px;
      margin: 10px 0px;
      border: 0;
      outline: none;
      background: $color_7;
      color: $color_1;
      border-radius: 5px;
      font-weight: 450;
      cursor: pointer;
      font-size: 1.1rem;
      &:hover {
        background: $color_1;
        color: $color_7;
        border: 2px solid $color_7;
      }
    }
  }
  .popUpBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: start;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    .popUpContent {
      display: none;
      padding: 2rem;
      text-align: left;
      background: #fff;
      position: fixed;
      top: 50%;

      left: 50%;

      transform: translate(-50%, -50%);

      vertical-align: middle;
      width: 60rem;
      height: 40rem;
      z-index: 10000000;
      grid-template-columns: 35% 65%;
      .btnClose {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        cursor: pointer;
        color: $color_3;
        font-size: 4rem;
        z-index: 1000000000000;
      }
      .popUpText {
        p {
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
    .popUpContent.active {
      display: grid;
      z-index: 10000000000000;
      h1 {
        color: $color_4;
        padding: 0.5rem 3rem 0 2rem;
        font-size: 2rem;
      }
      .popUpText {
        p {
          margin-top: 1.5rem 0 5rem;
          width: 40rem;
          height: 28rem;
          line-height: 1.5;
          padding: 1rem 5rem 3rem 2rem;
          font-size: 1.1rem;
          overflow: hidden;
          overflow-x: hidden;
          overflow-y: scroll;
        }
      }
    }
    .popUpContent.active.img {
      height: 20rem;
      margin-left: 1rem;
      object-fit: contain;
      z-index: 10000000000000;
    }
  }
}
.sidebar {
  display: flex;
  padding-left: 7rem;
  margin-right: 7rem;
  text-align: center;
  z-index: 1;
  .popularPosts {
    .popularPost {
      width: 100%;
      margin-bottom: 2rem;
      padding: 1rem 0;
      > .postImage {
        position: relative;
        .img {
          width: 100%;
          height: 280px;
          object-fit: cover;
          transition: all 0.3s ease;
        }
        &:hover {
          .img {
            transform: scale(1.05);
          }
        }
      }
      > .postTitle {
        position: relative;
      }
    }
    h2 {
      margin-left: 2rem;
    }
    .postTitle {
      a {
        text-decoration: none;
        font-size: 1.2rem;
        color: $color_5;
      }
    }
  }
}
